if ! command -v python >/dev/null 2>&1; then
  apk add python3 uv
  direnv reload
fi

layout_uv() {
  if [[ ! -d .venv ]]; then
    uv init --bare
    uv venv
    source .venv/bin/activate
    uv add locust
  fi
  source .venv/bin/activate
  watch_file pyproject.toml
  uv sync
}

layout uv
